@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.image-title {
    color: darkorange;
}

* {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #f0b180;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Has no use for us. Is required by tests for project Stage 4/5. */
.open-window {
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    color: darkred;
    /*background-color: yellowgreen;*/
}

nav {
    font-size: 30px;
}

footer {
    background-color: #f0b180;
    height: 100px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    /*background-color: aqua;*/
}

#aboutPlus {
    /*background-color: yellow;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#photo-peter {

}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: aquamarine;*/
}

#text-about {
    max-width: 400px;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
}

#portfolio {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#projects_web {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#contacts {

}

p, li {
    padding: 16px;
    font-size: 20px;
}

button {
    height: 3em;
    font-size: 1em;
    padding: 0.8em
}