@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #f0b180;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Has no use for us. Is required by tests for project Stage 4/5. */
.open-window {
    width: 8em;
    justify-self: right;
}

h1 {
    font-size: 18vm;
}

h2 {
    font-size: 15vm;
    color: darkred;
    /*background-color: yellowgreen;*/
}

h3 {
    font-size: 12vm;
    color: darkred;
    /*background-color: yellowgreen;*/
}
/* Navigation menu */
nav {
    display: block;
}


@media screen and (min-width: 1001px) {
    /* Navigation big screen */
    /* Don't show hamburger icon. */
    .topnav .icon {
        display: none;
    }
}

/* big screen */
.navMenuItem {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* When the screen is less than x pixels wide, hide all links and show burger menu icon.
   After click on burger icon show the links. */
@media screen and (max-width: 1000px) {

    /*********************
    *  Menu items hidden
    ***********************/
    header {
        /*background-color: red;*/
        justify-content: space-between;
    }

    /* Menu items not visible */
    .navMenuItem {
        display: none;
        padding: 0.3em;
    }

    h1 {
        font-size: 8vw;
        padding-left: 4vw;
    }

    .icon {
        /*float: right;*/
        font-size: 10vw;
        display: block;
        padding: 4vw;
    }

    nav a {
        /*background-color: blue;*/
    }

    /**************************
    *  Menu items visible
    ****************************/

    /* Menu item visible */
    .topNav.menuItemsVisible .navMenuItem {
        display: block;
        padding: 0.3em;
        font-size: 1.5em;
        font-weight: bold;
    }

    .topNav.menuItemsVisible .icon {
        /*float: right;*/
        font-size: 8vw;
        display: block;
        padding: 2vw;
    }
}

.image-title {
    color: darkorange;
}

.flexColumnWithCenteredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

footer {
    background-color: #f0b180;
    height: 100px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
}

#content {
    display: flex;
    flex-direction: column;
    /*background-color: aqua;*/
}

#aboutPlus {
    /*background-color: yellow;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#photo-peter {

}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: aquamarine;*/
}

#text-about {
    max-width: 400px;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
}

#portfolio {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#projects_web {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contacts {

}

p, li {
    padding: 16px;
    font-size: 20px;
}

#contacts p {
    padding: 1em;
    font-size: 1em;
}

button {
    height: 3em;
    font-size: 1em;
    padding: 0.8em
}